అది శనివారం ఉదయం.
నగరంపై సూర్యుడు ప్రకాశిస్తున్నాడు.
నేను కింద వీధిలోకి వెళ్తాను.
నా పొరుగున ఉండే నీనా, మా భవనం బయట నిలబడి ఉంది.
"శుభోదయం, మాయా," అని ఆమె నవ్వుతూ చెబుతుంది.
"శుభోదయం, నీనా," అని నేను బదులిస్తాను.
"ఈరోజు నాకు సెలవు," అని నేను ఆమెతో చెబుతాను.
"నేను నగరంలోకి వెళుతున్నాను."
"నువ్వు ఎక్కడికి వెళుతున్నావు?" అని నీనా అడుగుతుంది.
"నేను నీటి దగ్గరకు నడిచి వెళుతున్నాను," అని నేను చెబుతాను.
"కానీ నాకు దారి తెలియదు."
నీనా వీధి వెంబడి వేలు చూపిస్తుంది.
"అదృష్టవశాత్తూ, అది చాలా సులభం," అని ఆమె చెబుతుంది.
"ఇక్కడ నుండి తిన్నగా వెళ్ళు."
"మరియు పార్కు దగ్గర ఎడమవైపుకు తిరుగు."
"అప్పుడు నువ్వు నేరుగా ఓడరేవు దగ్గరకు వస్తావు."
"సహాయం చేసినందుకు చాలా ధన్యవాదాలు, నీనా," అని నేను చెబుతాను.
"పర్వాలేదు, నీ ప్రయాణం సంతోషంగా సాగాలి," అని ఆమె బదులిస్తుంది.
నేను ఆమెకు చెయ్యి ఊపుతాను.
నేను నీటి వైపు నా నడకను ప్రారంభిస్తాను.
