నేను ఒక పెద్ద కూడలికి చేరుకుంటాను.
అక్కడ చాలా మంది ఉన్నారు.
కానీ నాకు నీళ్లు కనిపించడం లేదు.
నేను ఓడరేవు కోసం వెతుకుతున్నాను.
ఫుట్‌పాత్ మీద ఉన్న ఒక పెద్దాయనను నేను చూస్తాను.
నేను అతన్ని ఆపుతాను.
"క్షమించండి," అని నేను అంటాను.
"ఓడరేవు ఎక్కడ ఉంది?"
ఆ పెద్దాయన తలూపుతాడు.
అతను ముందుకు చూపిస్తాడు.
"కూడలి గుండా నేరుగా నడవండి," అని అతను చెప్తాడు.
"మ్యూజియం దాటి వెళ్లండి."
"మరియు కుడివైపుకు తిరగండి."
నేను కూడలికి అవతలి వైపు చూస్తాను.
నేను ఒక పెద్ద భవనాన్ని చూస్తాను.
అది మ్యూజియం.
"చాలా ధన్యవాదాలు," అని నేను అంటాను.
"పర్వాలేదు," అని అతను బదులిస్తాడు.
నేను నడక కొనసాగిస్తాను.
