నేను వీధిలో ఉన్న ఒక టికెట్ మెషీన్ దగ్గరకు నడుచుకుంటూ వెళ్తాను.
ముందుగా నా ట్రావెల్ కార్డుకు మరికొంత డబ్బు అవసరం.
నేను నా బ్యాగ్ నుండి నా ట్రావెల్ కార్డును బయటకు తీస్తాను.
అది ఒక చిన్న, నీలం రంగు కార్డు.
నేను ఆ కార్డును మెషీన్ స్క్రీన్ మీద పెడతాను.
ఆ స్క్రీన్ నా బ్యాలెన్స్‌ను చూపిస్తుంది.
ఒక సుదీర్ఘ ప్రయాణానికి ఆ బ్యాలెన్స్ చాలా తక్కువగా ఉంది.
నేను స్క్రీన్ మీద ట్యాప్ చేస్తాను.
నేను ఒక మొత్తాన్ని ఎంచుకుంటాను.
నేను నా పేమెంట్ కార్డుతో రెండు వందల క్రోనర్ చెల్లిస్తాను.
ఆ మెషీన్ స్క్రీన్ మీద "ఆమోదించబడింది" అని రాస్తుంది.
ఇప్పుడు నా కార్డులో డబ్బు ఉంది.
నేను ఆ కార్డును తిరిగి బ్యాగ్‌లో పెడతాను.
ఆ సుదీర్ఘ ప్రయాణానికి నేను సిద్ధంగా ఉన్నాను.
ఇప్పుడు నేను బస్సు ఎక్కాలి.
నేను బస్ స్టాప్ దగ్గరకు నడుచుకుంటూ వెళ్తాను.
