నేను బస్ స్టాప్ దగ్గర నిలబడి ఉన్నాను.
త్వరలో నేను బస్సులో ప్రయాణిస్తాను.
నేను వీధి వైపు చూస్తాను.
ఐదు నిమిషాల తర్వాత, బస్సు వస్తుంది.
అది పొడవైన మరియు పసుపు రంగు బస్సు.
బస్సు సరిగ్గా నా ముందే ఆగుతుంది.
తలుపులు తెరుచుకుంటాయి.
నేను బస్సులోకి అడుగుపెడతాను.
నా ప్రయాణ కార్డు నా చేతిలో ఉంది.
నేను తలుపు దగ్గర కార్డును స్కాన్ చేస్తాను.
ఈ రోజు చాలా మంది ప్రయాణికులు ఉన్నారు.
నేను ఖాళీ సీటు కోసం చూస్తాను.
నాకు కిటికీ పక్కన ఒక మంచి సీటు దొరుకుతుంది.
నేను కూర్చుంటాను.
నేను బయట ఉన్న నగరాన్ని చూస్తాను.
ఇప్పుడు నేను మెట్రో స్టేషన్‌కు బస్సులో వెళ్తాను.
