మెట్రో వస్తుంది, మరియు తలుపులు తెరుచుకుంటాయి.
నేను రైలు లోపలికి వెళ్తాను.
రైలు డ్రైవర్ లేకుండా నడుస్తుంది.
నేను పూర్తిగా ముందు భాగం వరకు నడుస్తాను.
నేను పెద్ద కిటికీ దగ్గర నిలబడతాను.
నేను మెట్రోలో చీకటి గుండా ప్రయాణిస్తాను.
మేము ఒక పొడవైన సొరంగంలో ఉన్నాము.
మేము చాలా వేగంగా వెళ్తున్నాము.
కిటికీ పక్కనుండి వెలుతురు దూసుకుపోతుంది.
అది అద్భుతంగా కనిపిస్తోంది.
ఒక చిన్న పిల్లవాడు నా పక్కన నిలబడి ఉన్నాడు.
అతను కూడా బయట చీకట్లోకి చూస్తున్నాడు.
నేను తరచుగా మెట్రోలో ప్రయాణిస్తుంటాను.
ఇది వేగవంతమైన మరియు సులభమైన ప్రయాణం.
ఇప్పుడు మేము నా స్టేషన్‌కు చేరుకుంటున్నాము.
నేను ఓడరేవుకు వెళ్తున్నాను.
నా తదుపరి ప్రయాణం ఓడరేవు బస్సులో ఉంటుంది.
నీటిని చూడటానికి నేను ఆసక్తిగా ఎదురుచూస్తున్నాను.
