ఒక వెడల్పాటి పడవ నీటి మీదగా వస్తోంది.
అది హార్బర్ బస్సు.
ఆ పడవ చెక్క రేవు వద్దకు వస్తుంది.
అది అంచు వద్ద ఆగుతుంది.
నేను ఇప్పుడు హార్బర్ బస్సులో వెళ్తున్నాను.
నేను ఆ ఓడలోకి అడుగుపెడతాను.
నేను మళ్ళీ నా బ్లూ ట్రావెల్ కార్డును స్కాన్ చేస్తాను.
లోపల చాలా మంది ప్రయాణికులు కూర్చుని ఉన్నారు.
కానీ నేను బయట ఓపెన్ డెక్ మీదకు నడిచి వెళ్తాను.
నేను సరిగ్గా ముందు భాగంలో నిలబడతాను.
మేము ఆ పడవలో నీలిరంగు నీటి మీదగా ప్రయాణిస్తాము.
నీటి మీద నుండి నగరం అందంగా కనిపిస్తుంది.
సూర్యుడు మా మీద ప్రకాశిస్తున్నాడు.
నేను దీర్ఘంగా ఊపిరి పీల్చుకుంటాను.
గాలి చాలా తాజాగా మరియు చల్లగా ఉంది.
నేను ఈ చిన్న ప్రయాణాన్ని ఆస్వాదిస్తాను.
మేము త్వరలోనే అవతలి వైపుకు చేరుకుంటాము.
