పడవ నీటి ఆవలి వైపుకు చేరుకుంటుంది.
హార్బర్ బస్సు ఒక చిన్న రేవు వద్ద ఆగుతుంది.
నేను పడవ దిగుతాను.
పడవ ప్రయాణం ఇప్పుడు ముగిసింది.
నేను నా ఫోన్‌లో మ్యాప్‌ను చెక్ చేస్తాను.
నేను ఒక చిన్న కియోస్క్‌కి వెళ్తున్నాను.
ఆ కియోస్క్ ఒక మూలలో ఉంది.
నేను వీధి గుండా నడుస్తాను.
రోడ్డు చివర నాకు ఆ దుకాణం కనిపిస్తుంది.
నేను తలుపు తెరిచి లోపలికి వెళ్తాను.
కౌంటర్ వెనుక ఒక యువకుడు నిలబడి ఉన్నాడు.
"హాయ్," అని అతను దయగా చెబుతాడు.
"హాయ్, నేను ఒక ప్యాకేజీ తీసుకోవడానికి వచ్చాను," అని నేను అంటాను.
ఆ వ్యక్తి తల ఊపి చిరునవ్వు నవ్వుతాడు.
అతను నా పేరు అడుగుతాడు.
"నా పేరు మాయ," అని నేను బదులిస్తాను.
అతనికి ఒక అరలో ఒక పెద్ద పెట్టె దొరుకుతుంది.
అతను ప్యాకేజీని నాకు ఇస్తాడు.
"సహాయం చేసినందుకు చాలా కృతజ్ఞతలు," అని నేను చెబుతాను.
ఇప్పుడు నేను నా ప్యాకేజీతో మళ్లీ ఇంటికి సుదీర్ఘ ప్రయాణం చేస్తాను.
