నేను ఒడెన్సేకు చేసిన నా ప్రయాణం గురించి నా డైరీలో రాశాను.
అది ఒక అందమైన శనివారం ఉదయం.
నేను పొద్దున్నే ఏడు గంటలకు నిద్రలేచాను.
సూర్యుడు ప్రకాశిస్తున్నాడు, మరియు ఆకాశం నీలంగా ఉంది.
నేను నా చిన్న, ఆకుపచ్చని బ్యాక్‌ప్యాక్‌ను సర్దుకున్నాను.
నేను బ్యాగ్‌లో ఒక నోట్‌బుక్ మరియు కెమెరాను పెట్టాను.
నేను ఒక మందపాటి స్వెటర్‌ను కూడా తీసుకున్నాను.
డెన్మార్క్‌లోని వసంతకాలపు వాతావరణం కొద్దిగా చల్లగా ఉండవచ్చు.
ఆ తర్వాత కోపెన్‌హాగన్‌లోని పెద్ద స్టేషన్‌కు నేను బస్సులో వెళ్ళాను.
లోపల చాలా మంది జనాలు హడావిడిగా ఉన్నారు.
నేను నడుచుకుంటూ ఒక చిన్న కియోస్క్ దగ్గరకు వెళ్ళాను.
నేను ప్రయాణం కోసం ఒక పెద్ద, వేడి కాఫీ కొన్నాను.
దాని ధర నలభై ఐదు క్రోనర్లు.
నేను పైనున్న పెద్ద స్క్రీన్ వైపు చూశాను.
నేను స్క్రీన్‌పై నా రైలును త్వరగా కనుక్కున్నాను.
నేను ఒడెన్సేకు వెళ్లే వేగవంతమైన రైలు ఎక్కాల్సి ఉంది.
రైలు కచ్చితంగా ఎనిమిది గంటలకు ప్లాట్‌ఫారమ్‌కు చేరుకుంది.
నేను రైలులోకి వెళ్లి ఒక పెద్ద కిటికీ పక్కన నా సీటును కనుక్కున్నాను.
నేను నా వేడి కాఫీ తాగుతూ విహారయాత్ర కోసం ఆసక్తిగా ఎదురుచూశాను.
