రైలు ప్రకృతి దృశ్యాల గుండా వేగంగా ప్రయాణించింది.
నేను నా సీటులో నిశ్శబ్దంగా కూర్చున్నాను.
నాకు కిటికీ పక్కన చాలా మంచి సీటు దొరికింది.
కాసేపటి తర్వాత, మేము ఎట్టకేలకు సముద్రతీరానికి చేరుకున్నాము.
సముద్రం పైన ఉన్న ఒక చాలా పొడవైన వంతెన మీదుగా రైలు వెళ్ళింది.
అకస్మాత్తుగా మా చుట్టూ అంతా నీరు మాత్రమే ఉంది.
ఆ వంతెన నీటి పైన చాలా ఎత్తులో ఉంది.
నేను ఆ పెద్ద కిటికీలోంచి బయటకు చూశాను.
మా కింద ఉన్న నీరు చాలా నీలంగా ఉంది.
ఆ అందమైన, విశాలమైన దృశ్యాన్ని చూసి నేను మురిసిపోయాను.
చాలా కింద, నేను కొన్ని చిన్న ఓడలను చూశాను.
అవి దాదాపు బొమ్మల్లాగా కనిపించాయి.
ఆకాశం లేత నీలం రంగులో, అసలు మబ్బులు లేకుండా ఉంది.
అది దాదాపు సముద్రం మీదుగా ఎగురుతున్నట్లుగా అనిపించింది.
నేను నా బ్యాగ్ నుండి నా కెమెరాను బయటకు తీశాను.
నేను ఆ చిన్న ఓడలవి కొన్ని ఫోటోలు తీశాను.
నేను ఇలాంటిది ఎప్పుడూ చూడలేదు.
ఆ తర్వాత, నేను నా కెమెరాను లోపల పెట్టేసి కేవలం ప్రయాణాన్ని ఆస్వాదించాను.
