ఆ కుటుంబం తమతో పాటు ఒక చిన్న కుక్కను కూడా రైలులోకి తీసుకువచ్చింది.
అది చాలా ముద్దుగా ఉంది, కానీ నిశ్శబ్దంగా లేదు.
ఆ కుక్క నేల మీద ఉన్న తన చిన్న బుట్టలో పడుకుంది.
ఆ తండ్రి మళ్లీ కిందికి తన పుస్తకం వైపు చూశాడు.
అతను కాస్త చదువుకోవాలని మాత్రమే అనుకున్నాడు.
కానీ అకస్మాత్తుగా ఆ కుక్క తన బుట్టలోంచి బయటకు దూకింది.
అది వేగంగా ఆ తండ్రి దగ్గరికి పరిగెత్తింది.
అతను ఒక కాలును ఒక బ్యాగ్ మీద పెట్టుకుని కూర్చున్నాడు.
ఆ కుక్క అతని ఎడమ కాలి బూటును లాక్కుంది.
అది ఆ బూటును తన నోట్లోకి తీసుకుంది.
అప్పుడు అది వేగంగా పారిపోయింది.
"వద్దు, నా బూటు తీసుకుని వెనక్కి రా!" అని ఆ తండ్రి అరిచాడు.
అతను మేజోళ్లతోనే లేచి నిలబడ్డాడు.
అతను ఆ నడిచే దారిలో కుక్క వెనుక పరిగెత్తాడు.
ఆ ఇద్దరు పిల్లలు అతని వైపు వేలు పెట్టి చూపించారు.
వాళ్ళు ఒకరినొకరు చూసుకుని గట్టిగా నవ్వారు.
నేను నా సీటులోంచి వాళ్ళ వైపు చూశాను.
నేను కూడా నా పుస్తకం చాటున కాస్త నవ్వాను.
అదృష్టవశాత్తూ, చివరికి అతను తన కుక్కను పట్టుకున్నాడు.
అతనికి తన బూటు కూడా వెనక్కి దొరికింది.
