నేను ఇప్పటికీ కోపెన్‌హాగన్‌లోని నా లివింగ్ రూమ్‌లో నా టేబుల్ దగ్గర కూర్చుని ఉన్నాను.
నేను నా డైరీలో చివరి పదాలను రాస్తున్నాను.
ఆ తర్వాత నేను నా పెన్ను టేబుల్ మీద పెడతాను.
నేను ఆ చిన్న పుస్తకాన్ని మూసేసి నవ్వుకుంటాను.
ఓడెన్స్‌లో అది పూర్తిగా పరిపూర్ణమైన వారాంతం.
నేను నా ఆ చక్కటి ట్రిప్‌ని గుర్తుచేసుకుంటున్నాను.
తన కంచెకు రంగు వేసిన ఆ ముసలివాడు నాకు గుర్తున్నాడు.
రైలులో ఒత్తిడికి గురైన తండ్రి మరియు అతని ఇద్దరు చురుకైన పిల్లలు కూడా నాకు గుర్తున్నారు.
నేను నాలో నేనే కొద్దిగా నవ్వుకుంటాను.
నేను తెరిచి ఉన్న నా కిటికీలోంచి బయటకు చూస్తున్నాను.
సాయంత్రం నమ్మశక్యం కానంత పొడవుగా మరియు వెలుతురుతో ఉంది.
నగరంపై సూర్యుడు నెమ్మదిగా అస్తమిస్తున్నాడు.
చాలా నెమ్మదిగా చీకటి పడుతోంది.
డెన్మార్క్‌లో నా మొదటి వసంతకాలం అంటే నాకు చాలా ఇష్టం.
రేపు ఒక కొత్త వారం ప్రారంభమవుతుంది.
నేను త్వరగా నిద్రలేచి, పనికి వెళ్లడానికి బస్సు ఎక్కాలి.
కానీ ఈ రాత్రి నాకు చాలా సమయం ఉంది.
నేను లేచి నిలబడి వంటగదిలోకి నడుచుకుంటూ వెళ్తాను.
నేను ఒక గ్లాసు చల్లటి నీళ్లు తెచ్చుకుంటాను.
నేను సోమవారానికి సిద్ధంగా ఉన్నాను.
