శుక్రవారం రాత్రి బాగా పొద్దుపోయింది.
మేము పడుకునే ముందు, నేను లుడ్విగ్‌ను బయటకు తీసుకువెళ్తాను.
మేము చుట్టుపక్కల కాసేపు నడవడానికి వెళ్తాము.
ఇప్పుడు వీధులు చాలా నిశ్శబ్దంగా ఉన్నాయి.
లుడ్విగ్ నా పక్కన చక్కగా నడుస్తున్నాడు.
అకస్మాత్తుగా వాడు ఆగిపోతాడు.
ఫుట్‌పాత్ మీద ఉన్న దేనినో వాడు ఆత్రుతగా వాసన చూస్తాడు.
అది మిగిలిపోయిన ఆహారం ఉన్న ఒక మురికి సంచి.
వాడు దాన్ని తీసుకోవడానికి నోరు తెరుస్తాడు.
"వద్దు, దాన్ని వదిలేయ్!" అని నేను వాడితో ఖచ్చితంగా చెప్తాను.
నేను ఆ సంచికి దూరంగా వాడిని సున్నితంగా లాగుతాను.
"చెత్త ఆహారం కాదు, లుడ్విగ్," అని నేను వివరిస్తాను.
"ఇటు రా, లుడ్విగ్," అని నేను వాడిని పిలుస్తాను.
వాడు సంచిని వదిలేసి నా వంక పైకి చూస్తాడు.
వాడు వెంటనే తోక ఊపడం మొదలుపెడతాడు.
"గుడ్ బాయ్," అని నేను చెప్పి వాడిని నిమురుతాను.
మేము వీధిలో మా నడకను కొనసాగిస్తాము.
ఇప్పుడు మేము ఇంటికి వెళ్లి పడుకోవాలి అంతే.
