నేను ప్రతి గురువారం సాయంత్రం బ్యాడ్మింటన్ ఆడతాను.
కాస్పర్ మరియు సారా నా జట్టులోనే ఆడతారు.
రేపు శుక్రవారం, మరియు నేను వారిని రాత్రి భోజనానికి ఆహ్వానించాను.
నేను ఒక సాంప్రదాయ డానిష్ వంటకం చేయాలనుకుంటున్నాను.
కాబట్టి నేను బంగాళాదుంపలతో మీట్‌బాల్స్ చేయాలని నిర్ణయించుకున్నాను.
నేను ఇంటర్నెట్‌లో ఒక మంచి రెసిపీని కనుగొంటాను.
ఇప్పుడు నేను షాపింగ్ జాబితాను రాయాలి.
ముందుగా, నాకు మీట్‌బాల్స్ కోసం మాంసం కావాలి.
ఆ రెసిపీలో ఐదు వందల గ్రాముల పంది మాంసం ఖీమా అని ఉంది.
ఆ తర్వాత నాకు రెండు పెద్ద పసుపు ఉల్లిపాయలు కూడా కావాలి.
నేను కొద్దిగా పాలు మరియు ఒక గుడ్డును కూడా రాసుకుంటాను.
నేను అదంతా నా నోట్‌ప్యాడ్‌పై రాసుకుంటాను.
ఆ తర్వాత, నేను బంగాళాదుంపల పరిమాణాన్ని చూస్తాను.
నేను కచ్చితంగా ఒక కిలో చిన్న బంగాళాదుంపలను కొనాలి.
చివరగా, నేను జాబితాకు వెన్న మరియు ఉప్పును జతచేస్తాను.
మాంసాన్ని వేయించడానికి ఎప్పుడూ ఎక్కువ వెన్నను ఉపయోగించాలి.
చివరకు జాబితా పూర్తయింది, మరియు నేను సిద్ధంగా ఉన్నాను.
రేపు పని పూర్తయిన తర్వాత, నేను నేరుగా సూపర్‌మార్కెట్‌కి వెళ్తాను.
