పని తర్వాత నేను సూపర్ మార్కెట్‌లో నిలబడి ఉన్నాను.
ఈ రోజు దుకాణంలో చాలా మంది ఉన్నారు.
నా చేతిలో నా షాపింగ్ జాబితా ఉంది.
రేపటి నా రాత్రి భోజనం కోసం నాకు కచ్చితమైన మోతాదులు కావాలి.
ముందుగా, నేను కూరగాయల వైపు వెళ్తాను.
నాకు కొన్ని చిన్న, మంచి బంగాళాదుంపలు దొరికాయి.
నేను వాటిని ఒక సంచిలో వేసి బరువు చూస్తాను.
త్రాసు కచ్చితంగా ఒక కిలో చూపిస్తుంది.
ఈ వంటకానికి అది సరైన మోతాదు.
ఆ తర్వాత, నేను రెండు పెద్ద, పసుపు రంగు ఉల్లిపాయలను తీసుకుంటాను.
ఆ తర్వాత, నేను మాంసం ఉన్న వైపు నడిచి వెళ్తాను.
మీట్‌బాల్స్ కోసం నాకు పంది మాంసం ఖీమా కావాలి.
నేను కూలర్‌లో ఉన్న వివిధ ప్యాకెట్‌లను చూస్తాను.
నేను ఐదు వందల గ్రాములున్న ప్యాకెట్‌ను ఎంచుకుంటాను.
చివరగా, నేను నా జాబితాను మరొకసారి తనిఖీ చేస్తాను.
నేను ఒక ప్యాకెట్ వెన్న మరియు కొంచెం పాలను కూడా తీసుకుంటాను.
నేను వస్తువులన్నింటినీ నా బుట్టలో పెట్టుకుంటాను.
ఇప్పుడు నేను కాస్పర్ మరియు సారా కోసం వంట చేయడానికి సిద్ధంగా ఉన్నాను.
