నేను ఇంట్లో నా వంటగదిలో ఉన్నాను.
నేను నా ఆప్రాన్ వేసుకుంటాను.
నేను నా ఫోన్‌లో రెసిపీని చదువుతాను.
ఆ రెసిపీ చాలా స్పష్టంగా ఉంది.
అందులో ఇలా ఉంది: ముందుగా, ఉల్లిపాయలను చాలా సన్నగా తరగాలి.
ఆ తర్వాత, మాంసాన్ని ఒక పెద్ద గిన్నెలో వేయాలి.
ఆ తరువాత, ఒక గుడ్డు, కొద్దిగా పిండి మరియు పాలు కలపాలి.
చివరగా, వాటన్నింటినీ బాగా కలపాలి.
నేను ఒక కట్టింగ్ బోర్డ్ మరియు పదునైన కత్తిని తీసుకుంటాను.
నేను ఆ రెండు పసుపు రంగు ఉల్లిపాయలను చిన్న ముక్కలుగా కోస్తాను.
నా కళ్ళలో కొద్దిగా నీళ్లు వస్తాయి.
నేను ఐదు వందల గ్రాముల పంది మాంసం కీమా ఉన్న ప్యాకెట్‌ను తెరుస్తాను.
నేను ఆ మాంసాన్ని నా పెద్ద, నీలి రంగు గిన్నెలో వేస్తాను.
ఆ తర్వాత నేను ఉల్లిపాయలను కూడా ఆ మాంసంలో వేస్తాను.
నేను గుడ్డును పగలగొట్టి ఆ గిన్నెలో వేస్తాను.
ఆ తర్వాత, నేను కొద్దిగా పిండి మరియు పాలను వేస్తాను.
నేను ఒక పెద్ద చెంచా తీసుకుని వాటన్నింటినీ కలుపుతాను.
ఆ మాంసం మిశ్రమం చూడటానికి చాలా బాగుంది.
మొదటి దశ చాలా సులభంగా ఉంది.
