ఇప్పుడు నేను బంగాళదుంపలను ఉడకబెట్టాలి.
నేను మళ్లీ నా రెసిపీని చూస్తాను.
అందులో కొన్ని చాలా చిన్న సూచనలు ఉన్నాయి.
ముందుగా అందులో ఇలా ఉంది: "చిన్న బంగాళదుంపలను శుభ్రంగా తోమండి."
నేను చల్లటి నీళ్ల కింద ఒక చిన్న బ్రష్‌తో అలా చేస్తాను.
తర్వాత నేను తర్వాతి లైన్ చదువుతాను.
ఆ తర్వాత అందులో ఇలా ఉంది: "బంగాళదుంపలను నీళ్లు ఉన్న గిన్నెలో వేయండి."
నేను నా పెద్ద గిన్నెను అల్మారాలో నుండి బయటకు తీస్తాను.
నేను కిలో మొత్తాన్ని ఆ గిన్నెలో వేస్తాను.
గిన్నె దాదాపు పూర్తిగా నిండిపోయింది.
తర్వాతి దశ ఏమిటి?
రెసిపీలో ఇలా ఉంది: "నీళ్లలో ఒక పెద్ద చెంచా దొడ్డు ఉప్పు వేయండి."
నేను ఉప్పును మరియు ఒక చెంచాను బయటకు తీస్తాను.
నేను చెంచాలో ఉప్పు వేస్తాను.
నేను ఆ పెద్ద చెంచాడు ఉప్పును బంగాళదుంపలలో వేస్తాను.
చివరిగా అందులో ఇలా ఉంది: "స్టవ్ ఆన్ చేయండి."
నేను గిన్నెను స్టవ్ మీద పెట్టి దాన్ని ఆన్ చేస్తాను.
ఇప్పుడు బంగాళదుంపలు కేవలం ఇరవై నిమిషాల పాటు ఉడకాలి.
