నా కొత్త జాకెట్‌తో నేను క్యాష్ రిజిస్టర్ వైపు నడుచుకుంటూ వెళ్తాను.
దారిలో, నాకు చాలా బాగున్న ఒక చొక్కా కనిపిస్తుంది.
అది లేత నీలం రంగులో ఉండి, మెత్తటి కాటన్‌తో తయారు చేయబడింది.
నిజానికి ఆఫీసు కోసం నాకు ఒక కొత్త చొక్కా కావాలి.
నేను ఆ చొక్కాను హ్యాంగర్ నుండి కిందకు తీస్తాను.
నేను ఫిట్టింగ్ రూమ్‌ల వైపు చూస్తాను.
ఈరోజు స్టోర్‌లో చాలా మంది ఉన్నారు.
ఫిట్టింగ్ రూమ్‌ల దగ్గర లైన్ చాలా పొడవుగా ఉంది.
నేను ఎక్కువ సమయం వేచి ఉండాలనుకోవడం లేదు.
అందువల్ల, దాన్ని ముందుగా వేసుకుని చూడకూడదని నేను నిర్ణయించుకుంటాను.
నేను సాధారణంగా మీడియం సైజు వేసుకుంటాను.
నేను ఆ చొక్కా సైజును చెక్ చేస్తాను.
అయినా, అది చూడటానికి కొంచెం చిన్నగా ఉందని నాకు అనిపిస్తోంది.
కానీ పెద్ద సైజు బహుశా మరీ పెద్దగా ఉండొచ్చు.
మరియు చిన్న సైజు కచ్చితంగా మరీ టైట్‌గా ఉంటుంది.
కాబట్టి నేను నా సాధారణ సైజునే తీసుకుంటాను.
నేను ఆ చొక్కాను జాకెట్‌తో పాటు నా చేతి మీద వేసుకుంటాను.
ఇంటికి వెళ్ళాక ఆ చొక్కా సరిపోతుందని నేను ఆశిస్తున్నాను.
