ఇది సోమవారం మధ్యాహ్నం, మరియు నాకు పని నుండి సెలవు.
నేను సాఫ్ట్‌వేర్ కంపెనీ నుండి బస్సు ఎక్కుతాను.
కానీ నేను నేరుగా ఇంటికి వెళ్లను.
నేను పెద్ద పాదచారుల వీధి దగ్గర బస్సు దిగుతాను.
నేను శనివారం నాటి బట్టల దుకాణానికి నడిచి వెళ్తాను.
నా బ్యాగ్‌లో నీలిరంగు కాటన్ షర్ట్ ఉంది.
అది ఇప్పటికీ పూర్తిగా కొత్తగా మరియు వాడకుండా ఉంది.
షర్ట్ మరీ చిన్నదిగా ఉంది, కాబట్టి నేను పెద్దది వేసి చూసుకోవాలనుకుంటున్నాను.
వాళ్ల దగ్గర అది వేరే సైజులో ఉంటుందని ఆశిస్తున్నాను.
నేను ప్రకాశవంతమైన ఆ దుకాణంలోకి నడిచి వెళ్తాను.
నేను నేరుగా క్యాష్ రిజిస్టర్ దగ్గరకు నడిచి వెళ్తాను.
నేను నా పర్సును తెరిచి నా రశీదును తీసుకుంటాను.
నేను దానిని నా చేతిలో సిద్ధంగా ఉంచుకుంటాను.
ఆ తర్వాత నేను నా బ్యాగ్‌లోంచి షర్ట్‌ను బయటకు తీస్తాను.
కౌంటర్ వెనుక ఒక స్నేహపూర్వక గుమస్తా నిలబడి ఉన్నారు.
ఆమె పైకి చూసి నా వైపు చిరునవ్వు నవ్వుతుంది.
నేను తిరిగి చిరునవ్వు నవ్వుతాను.
