నేను కొత్త షర్ట్‌తో ఫిట్టింగ్ రూమ్‌లోకి వెళ్తాను.
నేను వెంటనే దానిని వేసుకుని చూడాలనుకుంటున్నాను.
క్యాబిన్ చిన్నగా ఉంది, కానీ అక్కడ ఒక మంచి అద్దం ఉంది.
నేను నా జాకెట్ మరియు నా స్వెటర్ తీసేస్తాను.
ఆ తర్వాత నేను ఆ నీలం రంగు షర్ట్ వేసుకుంటాను.
నేను అద్దంలో ఫిట్టింగ్ ఎలా ఉందో చూసుకుంటాను.
పెద్ద సైజు చాలా బాగుంది.
భుజాల దగ్గర అది మరీ బిగుతుగా లేదు.
నేను నా చేతులను కొంచెం కదిలిస్తాను.
ఆ షర్ట్ వేరొక దానికంటే చాలా సౌకర్యవంతంగా ఉంది.
శనివారం నాటి చిన్న షర్ట్ మరీ చిన్నగా ఉండింది.
ఈ షర్ట్ కచ్చితంగా సరిపోతుంది.
పొడవు కూడా కరెక్ట్‌గా ఉంది.
రంగు కూడా ఇంకా అంతే బాగుంది.
నేను సంతృప్తిగా తల ఊపుతాను.
నేను మళ్ళీ ఆ షర్ట్ తీసేస్తాను.
ఆ తర్వాత, నేను నా బట్టలు వేసుకుంటాను.
నేను కొత్త షర్ట్‌ను తీసుకుని ఫిట్టింగ్ రూమ్ నుండి బయటకు వస్తాను.
నేను కచ్చితంగా దీనిని ఉంచుకోవాలనుకుంటున్నాను.
ఇప్పుడు నేను మళ్ళీ ఆ క్లర్క్‌తో మాట్లాడాలి.
