ఇప్పుడు ఒంటిగంట కొంచెం దాటింది.
నేను మెడికల్ క్లినిక్ దగ్గరికి నెమ్మదిగా నడిచి వెళ్తున్నాను.
ఇది చిన్న ప్రయాణమే, కానీ నేను ఇంకా నొప్పులతో, చాలా అలసిపోయి ఉన్నాను.
నేను నా పసుపు రంగు హెల్త్ కార్డ్‌ని బయటకు తీస్తున్నాను.
బయట ఎండ కాస్తోంది.
కానీ ఆ వెలుతురుకి నా కళ్ళు నొప్పి పెడుతున్నాయి కాబట్టి, నేను సన్‌గ్లాసెస్ పెట్టుకోవాల్సింది.
నేను క్లినిక్ రిసెప్షన్ లోపలికి వెళ్తున్నాను.
గోడకు ఒక చిన్న మెషిన్ వేలాడుతోంది.
ఇక్కడ ఎప్పుడూ పసుపు రంగు హెల్త్ కార్డ్‌ని స్కాన్ చేయాల్సి ఉంటుంది.
నేను డెన్మార్క్‌కి మారినప్పుడు, నాకు ఆ కార్డు పోస్ట్‌లో వచ్చింది.
నేను ఆ మెషిన్ మీద పసుపు రంగు కార్డ్‌ని స్కాన్ చేస్తున్నాను.
అది ఒక చిన్న శబ్దం చేసి, ఆకుపచ్చ రంగులో మెరుస్తోంది.
దీని అర్థం, నేను ఇక్కడ ఉన్నానని డాక్టర్‌కి తెలిసిందని.
నేను అసలు వెయిటింగ్ రూమ్‌లోకి నడిచి వెళ్తున్నాను.
నేను ఒక ఖాళీ కుర్చీలో కూర్చుని ఎదురుచూస్తున్నాను.
