ఇది మరుసటి రోజు ఉదయం.
ఈరోజు నేను పెద్ద రిజిస్ట్రేషన్ ఆఫీసులో ఉన్నాను.
ఇక్కడ లోపల చాలా మంది ఉన్నారు.
నా బ్యాగ్‌లో నా పాస్‌పోర్ట్ మరియు నా కాగితాలు ఉన్నాయి.
నా రిజిస్ట్రేషన్ కోసం అన్నీ సిద్ధంగా ఉన్నాయి.
నేను ఒక ఎర్రటి మెషిన్ దగ్గర నిలబడి ఉన్నాను.
నేను ఒక బటన్ నొక్కుతాను.
ఆ మెషిన్ నాకు ఒక చిన్న నంబర్ స్లిప్‌ను ఇస్తుంది.
నా నంబర్ ఎంత?
నేను ఆ కాగితాన్ని చూస్తాను.
నా నంబర్ యాభై తొమ్మిది.
ఇది కాస్త పెద్ద నంబరే.
గోడ మీద ఉన్న ఒక పెద్ద స్క్రీన్ ఒక నంబర్‌ను చూపిస్తోంది.
ఆ స్క్రీన్ కేవలం ఇరవై ఒకటి నంబర్‌ను మాత్రమే చూపిస్తోంది.
నాకు చాలా సమయం ఉంది.
నేను ఒక ఖాళీ కుర్చీని చూసుకుంటాను.
నేను నా కాగితాలు పట్టుకుని కూర్చుంటాను.
ఇప్పుడు నేను నా వంతు కోసం ఎదురుచూస్తాను.
