కోపెన్‌హాగన్‌లో ఉదయం అయింది.
నేను బస్ స్టాప్‌కి నడిచి వెళ్తున్నాను.
ఈ రోజు వాతావరణం చాలా చలిగా ఉంది.
గాలి వీస్తోంది.
గాలి మంచులా చల్లగా ఉంది.
నేను చలికి గడ్డకట్టుకుపోతున్నాను.
నేను పలుచటి జాకెట్ వేసుకున్నాను.
నా జాకెట్ అస్సలు వెచ్చగా లేదు.
నేను పలుచటి బూట్లు కూడా వేసుకున్నాను.
నేను వెచ్చటి స్కార్ఫ్ వేసుకోలేదు.
నా చేతులు చాలా చల్లగా ఉన్నాయి.
నేను వణుకుతున్నాను.
డెన్మార్క్‌లో చలికాలం చాలా కఠినంగా ఉంటుంది.
నాకు వెచ్చని బట్టలు కావాలి.
నాకు ఒక మందపాటి స్వెటర్ కావాలి.
నాకు ఒక పెద్ద స్కార్ఫ్ కూడా కావాలి.
మరియు నాకు వెచ్చని చేతి తొడుగులు కావాలి.
నేను చాలా వేగంగా నడుస్తున్నాను.
నేను పని తర్వాత చలికాలపు బట్టలు కొంటాను.
