నేను దుకాణంలోని ఒక టేబుల్ దగ్గరకు వెళ్తాను.
టేబుల్ మీద చాలా వస్తువులు ఉన్నాయి.
నేను ఈరోజు స్కార్ఫ్ వేసుకోలేదు.
నా మెడ దగ్గర చాలా చలిగా ఉంది.
నేను ఒక నీలం రంగు స్కార్ఫ్‌ను చూస్తాను.
అది చాలా పొడవైన స్కార్ఫ్.
అది ఉన్నితో తయారు చేయబడింది.
నేను ఆ నీలం రంగు స్కార్ఫ్‌ను తీసుకుంటాను.
నేను దానిని నా మెడ చుట్టూ వేసుకుంటాను.
అది అద్భుతంగా వెచ్చగా అనిపిస్తుంది.
"ఇది మంచి రంగు," అని షాపు అసిస్టెంట్ చెబుతుంది.
"అవును, మరియు ఇది చాలా మృదువుగా ఉంది," అని నేను అంటాను.
నేను ప్రైస్ ట్యాగ్‌ను చూస్తాను.
దాని ధర నూట యాభై క్రోనర్‌లు.
ఒక వెచ్చని స్కార్ఫ్‌కి ఇది మంచి ధర.
నేను దానిని మళ్లీ తీసేస్తాను.
"నేను దీన్ని కూడా కొంటున్నాను," అని నేను ఆమెతో చెబుతాను.
నేను ఆ నీలం రంగు స్కార్ఫ్‌ను ఎరుపు రంగు స్వెటర్‌తో పాటు పెడతాను.
