ఈ ఉదయం నేను త్వరగా నిద్రలేచాను.
నా పడకగదిలోకి ఎండ ప్రకాశవంతంగా పడింది.
నేను మంచం మీద పడుకుని మెక్సికోలోని నా ఇంటి గురించి ఆలోచించాను.
నిజానికి ఈ రోజు నా పుట్టినరోజు.
ఈ రోజుతో నాకు ముప్పై రెండేళ్లు నిండుతాయి.
ఇది నా కుటుంబానికి దూరంగా జరుపుకుంటున్న నా మొదటి పుట్టినరోజు.
దాని గురించి నాకు కొంచెం పాత జ్ఞాపకాలు గుర్తొచ్చినట్లు అనిపించింది.
కానీ అప్పుడు నేను పక్క బల్ల మీద ఉన్న నా ఫోన్‌ని తీసుకున్నాను.
నా కుటుంబ సభ్యులు ఎన్నో ప్రేమపూర్వకమైన సందేశాలను పంపారు.
నేను నిద్రపోతున్నప్పుడు నిన్న రాత్రి వాళ్లు వాటిని రాశారు.
మా తల్లిదండ్రులు మా కుక్క లోలాతో ఒక సరదా వీడియో రికార్డ్ చేశారు.
మా సోదరి సోఫియా ఒక పెద్ద, మధురమైన సందేశం రాసింది.
మరియు మా సోదరుడు డియాగో నాకు ఇష్టమైన కేక్ ఫోటో పంపాడు.
ఆ ఫోటో చూడగానే నేను చాలా సంతోషంగా నవ్వాను.
వాళ్లు నా ఈ ముఖ్యమైన రోజును అస్సలు మర్చిపోలేదు.
నేను వెంటనే ఆ సందేశాలన్నింటికీ బదులిచ్చాను.
నేను వాళ్ళని ప్రేమిస్తున్నానని, అలాగే మిస్ అవుతున్నానని వాళ్ళకి రాశాను.
నేను ఆ సందేశాలను మళ్లీ మళ్లీ చదువుతున్నాను.
నా పుట్టినరోజుకి ఇది ఒక అద్భుతమైన ప్రారంభం.
