రాత్రి దాదాపు పన్నెండు అవుతోంది, కానీ ఆకాశం ఇంకా వెలుతురుగానే ఉంది.
అది మృదువైన, నీలి రంగులో ఉంది.
నేను ఎవా మరియు పీటర్‌లతో కలిసి వీధిలో నడుస్తున్నాను.
మేము ఎక్కువగా మాట్లాడుకోవడం లేదు.
ఆ రాత్రి పూట మా అడుగుల చప్పుడు మాత్రమే వినిపిస్తోంది.
నేను నా స్నేహితులను చూస్తున్నాను.
ఎవా నవ్వుతోంది, పీటర్ అలిసిపోయినట్లు కనిపించినా సంతోషంగా ఉన్నాడు.
నేను ఇక్కడికి వచ్చినప్పుడు, నాకు ఎవరూ తెలియదు.
కానీ అప్పటినుండి చాలా మారిపోయింది.
నాకు ఒక మంచి రోజువారీ జీవితం ఏర్పడింది, మరియు నేను చాలా మందిని కలిశాను.
నిజానికి నాకు నిజమైన స్నేహితులు దొరికారు.
నేను మాట్లాడిన మొదటి సహోద్యోగి పీటర్.
మరియు ఎవా ఇటీవల నన్ను తన ఇంటికి ఆహ్వానించింది.
ఇప్పుడు మేమిక్కడ ప్రకాశవంతమైన వేసవి ఆకాశం కింద కలిసి నడుస్తున్నాము.
నాకు ఇప్పుడే ముప్పై రెండేళ్లు నిండాయి.
నేను ఇష్టపడే జీవితాన్ని నేను నిర్మించుకున్నాను.
ఎట్టకేలకు నా కొత్త నగరంలో నేను పూర్తిగా నా సొంత ఇంట్లో ఉన్నట్లే భావిస్తున్నాను.
