నేను ప్రతి బుధవారం సాయంత్రం జిమ్‌కి వెళ్తాను.
నాకు వ్యాయామం చేయడం ఇష్టం.
కానీ నేను ఒక క్రీడను కూడా ఆడాలనుకుంటున్నాను.
నాకు బ్యాడ్మింటన్ ఆడటం అంటే చాలా ఇష్టం.
మా స్వదేశమైన మెక్సికోలో నేను దీనిని చాలా ఆడేదాన్ని.
ఇప్పుడు నేను స్థానికంగా ఒక క్లబ్ కోసం చూస్తున్నాను.
నేను నా కంప్యూటర్‌తో నా సోఫాలో కూర్చుని ఉన్నాను.
నేను ఆన్‌లైన్‌లో వెతుకుతున్నాను.
నాకు ఒక మంచి బ్యాడ్మింటన్ క్లబ్ దొరికింది.
నేను ఆ క్లబ్ వెబ్‌సైట్‌ను చూస్తున్నాను.
వాళ్లకు చాలా జట్లు ఉన్నాయి.
వాళ్లు గురువారం సాయంత్రం ఆడతారు.
నేను ఒక ట్రయల్ సెషన్‌ను బుక్ చేయాలనుకుంటున్నాను.
నాకు వెబ్‌సైట్‌లో ఒక ఫారం కనిపించింది.
నేను నా పేరు మరియు నా ఈమెయిల్‌ను రాస్తున్నాను.
నేను గురువారం సాయంత్రాన్ని ఎంచుకుంటున్నాను.
శిక్షణ సాయంత్రం ఏడు గంటలకు ప్రారంభమవుతుంది.
ఇది పర్ఫెక్ట్‌గా ఉంది.
నేను మళ్లీ ఆడటానికి ఆసక్తిగా ఎదురుచూస్తున్నాను.
