నా అలారం గట్టిగా మోగుతుంది.
ఉదయం అయింది, కానీ ఇంకా చీకటిగానే ఉంది.
నేను నా కళ్ళు తెరుస్తాను.
నేను కిటికీ వైపు చూస్తాను.
బయట పూర్తిగా నల్లగా ఉంది.
సూర్యుడు అస్సలు ఉదయించలేదు.
డెన్మార్క్‌లో ఇంకా చలికాలమే.
ఇక్కడ ఉదయం పూట చాలా చీకటిగా ఉంటుంది.
చాలా ఆలస్యంగా వెలుతురు వస్తుంది.
నేను నెమ్మదిగా మంచం మీద కూర్చుంటాను.
దుప్పటి బయట చలిగా ఉంది.
నేను టేబుల్ మీద ఉన్న ల్యాంప్‌ని ఆన్ చేస్తాను.
కొంచెం వెలుతురుతో వెంటనే హాయిగా అనిపిస్తుంది.
కిటికీ బయట, ఆకాశం ఇంకా పూర్తిగా నల్లగానే ఉంది.
ఇప్పుడు మెక్సికోలో తరచుగా చాలా ఎండ ఉంటుంది.
కానీ ఇక్కడ సూర్యుడు నిద్రిస్తున్నాడు.
చీకటిలో నిద్రలేవడం కష్టంగా ఉంటుంది.
నేను గడియారం వైపు చూస్తాను.
నేను మంచం దిగుతాను.
ఇప్పుడు రోజు మొదలవుతుంది.
