నేను లివింగ్ రూమ్‌లో కిటికీ దగ్గర నిలబడి ఉన్నాను.
నేను బయట ఉన్న నగరం వైపు చూస్తున్నాను.
ఆకాశం ఇకపై నల్లగా లేదు.
అది నెమ్మదిగా బూడిద రంగులోకి మారుతోంది.
సూర్యుడు ఆలస్యంగా ఉదయిస్తాడు.
నేను నా ఫోన్ తీసుకుంటాను.
నేను ఈ రోజు వాతావరణ సూచనను చదువుతాను.
ప్రస్తుతం చాలా చలిగా ఉంది.
కేవలం రెండు డిగ్రీలు మాత్రమే ఉంది.
కానీ బయట ఇంకా పొడిగానే ఉంది.
ఆ తర్వాత చాలా తడిగా మారుతుంది.
త్వరలో వర్షం కురుస్తుంది.
గాలులు కూడా వీస్తాయి.
రోజులో ఆ తర్వాత గాలి బలంగా వీస్తుంది.
ఇది నిజమైన శీతాకాలపు రోజు అవుతుంది.
నేను ఫోన్‌ను టేబుల్ మీద పెడతాను.
నేను ఆకాశం వైపు మరోసారి చూస్తాను.
