నేను నా ఆఫీసు దగ్గర బస్సు దిగుతాను.
నేను నా స్కార్ఫ్‌ను గట్టిగా పట్టుకుంటాను.
ఈ రోజు వాతావరణం చాలా అల్లకల్లోలంగా ఉంది.
నేను వీధిలో నడుస్తాను.
హఠాత్తుగా బాగా గాలి వేస్తుంది.
నాకు ఎదురుగా బలమైన గాలి వీస్తుంది.
నా చేతిలో తెరిచి ఉన్న గొడుగు ఉంది.
కానీ గాలి చాలా బలంగా ఉంది.
అది వెంటనే ఒక సమస్యగా మారుతుంది.
గొడుగు అటూ ఇటూ ఎగురుతుంది.
ఇప్పుడు ఇది అసాధ్యం.
నేను దానితో ఇబ్బంది పడతాను.
చివరకు నేను గొడుగును మూసివేస్తాను.
అది లేకుండా చాలా చలిగా ఉంది.
వర్షం నా ముఖానికి తగులుతుంది.
నేను ఆ గాలిలో త్వరత్వరగా నడుస్తాను.
ఆఫీసు ప్రవేశ ద్వారం సరిగ్గా ముందే ఉంది.
నేను భవనంలోకి అడుగుపెడతాను.
అదృష్టవశాత్తూ, ఇక్కడ వెచ్చగా మరియు ప్రశాంతంగా ఉంది.
