కొద్దిసేపటి తర్వాత, తదుపరి ఆర్డర్ వచ్చింది.
నేను ఈ రోజు ఇదివరకే నా మొదటి కాఫీని తయారుచేశాను.
కానీ ఈ కస్టమర్ కేవలం ఆహారం కావాలనుకున్నాడు.
అతను చీజ్‌తో కూడిన బన్ ఆర్డర్ చేశాడు.
నేను బుట్టలోంచి ఒక వెచ్చని సోర్‌డో బన్‌ను తీసుకున్నాను.
సోర్‌డో బ్రెడ్ తరచుగా గట్టి పైపొరను కలిగి ఉంటుంది.
కానీ బ్రెడ్‌ను వేగంగా సగానికి కత్తిరించడం నేను నేర్చుకున్నాను.
ఆ తర్వాత, నేను బన్ మీద మందపాటి చీజ్ ముక్కను ఉంచాను.
నేను ఒక చిన్న ప్లేట్‌లో ఆహారాన్ని చక్కగా అమర్చాను.
ఇప్పుడు నేను దానిని కస్టమర్‌కు అందించాల్సి ఉంది.
కెఫే మధ్యలో చాలా మంది నిలబడి ఉన్నారు.
నేను ప్లేట్‌ను బ్యాలెన్స్ చేస్తూ జాగ్రత్తగా ముందుకు నడిచాను.
నేను ఇతర అతిథుల పక్కనుండి నెమ్మదిగా నడిచి వెళ్ళాను.
అదృష్టవశాత్తూ, ఆ కస్టమర్ సరిగ్గా మూలలో కూర్చొని ఉన్నాడు.
అతను నాలుగో టేబుల్ వద్ద వేచి ఉన్నాడు.
నేను ప్లేట్‌ను అతని ముందు ఉన్న టేబుల్ మీద ఉంచాను.
"ఇదిగోండి, చీజ్‌తో కూడిన వెచ్చని బన్," అని నేను అన్నాను.
"చాలా ధన్యవాదాలు," అని ఆ వ్యక్తి బదులిచ్చాడు.
సంతృప్తి చెందిన ఒక అతిథిని చూడటం చాలా ఆనందంగా ఉంటుంది.
