నా మూడవ శనివారం నాడు, నేను కౌంటర్ వెనుక సిద్ధంగా నిలబడి ఉన్నాను.
కేఫ్‌లో కాస్త ప్రశాంతంగా ఉండటం నేను ఎట్టకేలకు నేర్చుకున్నాను.
కిటికీలోంచి, నేను వీధిలో ఒక పెద్దాయనను చూశాను.
అతను మెల్లగా ప్రధాన ద్వారం వైపు నడిచాడు.
నా మొదటి మరియు రెండవ షిఫ్ట్‌లో కూడా అతను ఇక్కడే ఉన్నాడు.
అతను కేఫ్‌కు వచ్చే రెగ్యులర్ కస్టమర్లలో ఒకరు.
అతని ఆర్డర్‌ను నోటికల్లా గుర్తుపెట్టుకోవడం నేను నేర్చుకున్నాను.
అతను ఎప్పుడూ కచ్చితంగా అదే కొంటాడు.
అతను తలుపు తీసి క్యాష్ రిజిస్టర్ దగ్గరకు వచ్చాడు.
నేను అతని వంక చూసి చిరునవ్వు నవ్వాను.
"శుభోదయం," అని నేను అన్నాను.
"మీకు ఎప్పటిలాగే కోర్టాడో తయారు చేయనా?"
ఆ వ్యక్తి ఆశ్చర్యంగా నా వైపు చూశాడు.
ఆ తర్వాత అతను సంతోషంగా చిరునవ్వు నవ్వాడు.
"అవునండి దయచేసి, నాకు అదే కావాలి," అని అతను బదులిచ్చాడు.
నేను ఎస్ప్రెస్సో మెషిన్ దగ్గరకు వెళ్లాను.
నేను ఇప్పటికే చాలాసార్లు కాఫీ తయారు చేశాను, కాబట్టి ఆ పని త్వరగా అయిపోయింది.
మా అతిథుల గురించి తెలిసి ఉండటం ఒక మంచి అనుభూతినిచ్చింది.
