ఇది నా భోజన విరామ సమయం.
నేను నా ఆఫీసు క్యాంటీన్‌లో కూర్చున్నాను.
నేను నిన్న బిజీగా ఉన్నాను.
అందుకే నేను ఇప్పుడు హెయిర్ డ్రస్సర్‌కి కాల్ చేస్తున్నాను.
నేను నా మొబైల్ ఫోన్ తీసుకున్నాను.
నేను నగరంలోని ఒక హెయిర్ సెలూన్‌కి కాల్ చేశాను.
ఒక మహిళ ఫోన్ ఎత్తింది.
"హలో, ఇది హెయిర్ సెలూన్," అని ఆ మహిళ చెప్పింది.
"హలో, నా పేరు మాయ," అని నేను చెప్పాను.
"నేను గురువారం ఒక అపాయింట్‌మెంట్ బుక్ చేసుకోవాలనుకుంటున్నాను."
"ఒక్క క్షణం," అని హెయిర్ డ్రస్సర్ చెప్పింది.
"మధ్యాహ్నం పూట మీకు అపాయింట్‌మెంట్ ఖాళీగా ఉందా?" అని నేను అడిగాను.
"అవును, మాకు నాలుగున్నరకు ఒక అపాయింట్‌మెంట్ ఖాళీగా ఉంది," అని ఆమె చెప్పింది.
"అది నాకు బాగా సరిపోతుంది," అని నేను చెప్పాను.
"మీ ఫోన్ నంబర్ ఏమిటి?" అని హెయిర్ డ్రస్సర్ అడిగింది.
"నా నంబర్ పన్నెండు, ముప్పై నాలుగు, యాభై ఆరు, డెబ్బై ఎనిమిది," అని నేను చెప్పాను.
"చాలా కృతజ్ఞతలు, గురువారం నాలుగున్నరకు కలుద్దాం," అని ఆమె చెప్పింది.
"కలుద్దాం," అని నేను బదులిచ్చాను.
నేను ఫోన్‌ను టేబుల్ మీద పెట్టాను.
ఇప్పుడు నేను చివరకు నా భోజనం తింటున్నాను.
