ఇది బుధవారం సాయంత్రం.
సమయం ఏడు గంటలు.
నేను స్థానిక జిమ్‌లో ఉన్నాను.
నాకు వ్యాయామం చేయడం అంటే చాలా ఇష్టం.
నేను బుధవారాలు ఎప్పుడూ ఇక్కడే ఉంటాను.
నేను బట్టలు మార్చుకుంటాను.
ముందుగా, నేను బరువులు ఎత్తుతాను.
ఆ బరువులు చాలా బరువుగా ఉన్నాయి.
నేను చిన్న విరామం తీసుకుంటాను.
ఆ తర్వాత, నేను ట్రెడ్‌మిల్ మీద పరిగెత్తుతాను.
నేను తరచుగా వేగంగా పరిగెత్తుతాను.
నేను ఎప్పుడూ సంగీతం వింటాను.
నేను మొత్తం ఒక గంట పాటు వ్యాయామం చేస్తాను.
ఇప్పుడు సమయం ఎనిమిది గంటలు.
నేను అలసిపోయాను, కానీ నేను సంతోషంగా ఉన్నాను.
నేను నా బ్యాగ్ తీసుకుంటాను.
నేను నడుచుకుంటూ ఇంటికి వెళ్తాను.
