నేను నా ఫోన్ తీసుకుంటాను.
నేను నా క్యాలెండర్‌ని తెరుస్తాను.
నేను గురువారం రోజును చూస్తాను.
అకస్మాత్తుగా నాకు ఒక సమస్య కనిపిస్తుంది.
నాకు నాలుగున్నరకు హెయిర్ డ్రెస్సర్ దగ్గర అపాయింట్‌మెంట్ ఉంది.
నీనాతో నా కాఫీ కూడా నాలుగున్నరకే ఉంది!
నేను వెంటనే నీనాకు టెక్స్ట్ మెసేజ్ పంపుతాను.
నేను ఇలా రాస్తాను: "హాయ్ నీనా, క్షమించు."
"నాకు గురువారం నాలుగున్నరకు హెయిర్ డ్రెస్సర్ దగ్గర అపాయింట్‌మెంట్ ఉంది."
"దానికి బదులుగా నీకు ఆరు గంటలకు సమయం ఉందా?"
నీనా చాలా త్వరగా బదులిస్తుంది.
ఆమె ఇలా రాస్తుంది: "ఏం పర్వాలేదు!"
"ఆరు గంటలకు కలుద్దాం."
నేను చిరునవ్వు నవ్వి, క్యాలెండర్‌లో సమయాన్ని మారుస్తాను.
ఇప్పుడు నా గురువారం సరిగ్గా సరిపోయింది.
