నేను మరొక అల్మారాల వరుస దగ్గరికి వెళ్తాను.
నేను ఆహారాన్ని చూస్తాను.
సూపర్ మార్కెట్‌లో ఇతర దేశాల నుండి వచ్చిన చాలా వస్తువులు ఉన్నాయి.
నేను మెక్సికో రుచి కోసం వెతుకుతాను.
నేను మా ఇంటి భోజనాన్ని మిస్ అవుతున్నాను.
నాకు బీన్స్ అంటే చాలా ఇష్టం.
నేను తరచుగా నల్ల బీన్స్ తింటాను.
నేను కింద ఉన్న ఒక అల్మారాను చూస్తాను.
ఆ అల్మారా కొంచెం చీకటిగా ఉంది.
కానీ నాకు ఒక రంగురంగుల డబ్బా కనిపిస్తుంది.
ఆ డబ్బా పూర్తిగా వెనుక వైపున ఉంది.
అది నల్ల బీన్స్ ఉన్న డబ్బా.
నేను చిరునవ్వు నవ్వుతాను.
నేను నా చేతిని పూర్తిగా లోపలికి చాచుతాను.
నేను ఆ డబ్బాను బయటకు తీస్తాను.
నేను ఆ డబ్బా మీద ఉన్న లేబుల్‌ను చదువుతాను.
ఇది నా రాత్రి భోజనానికి సరైనది.
నేను ఆ డబ్బాను బుట్టలో పెడతాను.
నా దగ్గర సరిపడా ఆహారం ఉంది.
