నేను నా నీళ్లు తాగుతాను.
నీళ్లు చల్లగా మరియు బాగున్నాయి.
నేను నేల మీద నుండి నా బ్యాగ్‌ని తీసుకుంటాను.
నా విరామం పూర్తయింది.
నేను కౌంటర్ దగ్గరకు నడిచి వెళ్తాను.
స్నేహపూర్వకమైన బరిస్టా ఇంకా అక్కడే నిలబడి ఉన్నాడు.
అతను నవ్వుతూ నా వైపు చూస్తాడు.
"మీకు ఇంకేమైనా కావాలా?" అని అతను అడుగుతాడు.
"వద్దు, ధన్యవాదాలు," అని నేను బదులిస్తాను.
"నేను చెల్లించాలనుకుంటున్నాను."
"అవును, తప్పకుండా," అని అతను అంటాడు.
అతను తన చిన్న స్క్రీన్ వైపు చూస్తాడు.
"ఒక బ్లాక్ కాఫీ మరియు ఒక సినమన్ రోల్," అని అతను అంటాడు.
"అవును, అది సరైనదే," అని నేను అంటాను.
"మీరు కార్డుతో చెల్లిస్తారా లేదా నగదుతోనా?" అని అతను అడుగుతాడు.
"నేను కార్డుతో చెల్లించాలనుకుంటున్నాను," అని నేను బదులిస్తాను.
"సరే."
"అది ఎనభై ఐదు క్రోనర్లు అవుతుంది," అని అతను అంటాడు.
నేను నా పేమెంట్ కార్డును బయటకు తీస్తాను.
