ఇప్పుడు జనవరి, మరియు చాలా చలిగా ఉంది.
నేను కోపెన్‌హాగన్‌లోని బస్టాప్ నుండి ఇంటికి నడుచుకుంటూ వెళ్తున్నాను.
వీధిలో నాకు ఒక పూల దుకాణం కనిపిస్తుంది.
లోపల ప్రకాశవంతంగా మరియు వెచ్చగా ఉంది.
నేను ఆ వెచ్చని దుకాణంలోకి వెళ్తాను.
నేను ఒక చిన్న, ఆకుపచ్చని మొక్కను చూస్తాను.
ఒక గుమస్తా నన్ను చూసి నవ్వుతాడు.
"హలో," అని అతను అంటాడు.
"హలో," అని నేను అంటాను.
"నేను ఒక మొక్క కోసం చూస్తున్నాను."
"ఇది బహుమతా?" అని అతను అడుగుతాడు.
"కాదు, ఇది నా గది కోసం," అని నేను బదులిస్తాను.
"ఇది నిజంగా చాలా మంచి మొక్క," అని అతను అంటాడు.
"దీని ధర ఎంత?" అని నేను అడుగుతాను.
"దీని ధర యాభై ఐదు క్రోనర్లు," అని అతను బదులిస్తాడు.
నేను నా కొత్త మొక్క కోసం డబ్బులు చెల్లిస్తాను.
అతను ఆ మొక్కను ఒక కాగితపు సంచిలో పెడతాడు.
"ఇదిగోండి, మీ సంచి ఇక్కడ ఉంది," అని అతను అంటాడు.
"చాలా ధన్యవాదాలు," అని నేను సంతోషంగా చెబుతాను.
నేను చల్లని సాయంత్రం వేళ బయటకు వెళ్తాను.
నా చిన్న మొక్క నాకు చాలా సంతోషాన్ని కలిగిస్తుంది.
