నేను ఇప్పుడు ఇంట్లో ఉన్నాను.
ఇదిగో నా గది.
ఇది ఒక చిన్న గది.
నా దగ్గర ఒక కొత్త మొక్క ఉంది.
అది నా డెస్క్ మీద ఉంది.
ఇది సాయంత్రం, మరియు ఇది జనవరి.
నా కిటికీ చాలా చీకటిగా ఉంది.
బయట పూర్తిగా నల్లగా ఉంది.
నా దగ్గర ఒక ల్యాంప్ మరియు ఒక కప్పు టీ ఉన్నాయి.
నేను నా ల్యాంప్ ఆన్ చేస్తాను.
ఇప్పుడు నా గది వెచ్చగా మరియు కాంతివంతంగా ఉంది.
నా టీ కూడా వెచ్చగా ఉంది.
నేను నా డెస్క్ దగ్గర కూర్చున్నాను.
ఇక్కడ నా దగ్గర నా కంప్యూటర్ ఉంది.
నేను నా కంప్యూటర్ తెరుస్తాను.
ఇప్పుడు నేను మెక్సికోలో ఉన్న నా కుటుంబానికి ఫోన్ చేస్తాను.
వారిని చూడాలని నేను ఆసక్తిగా ఎదురుచూస్తున్నాను.
