కోపెన్‌హాగన్‌లో ఇది జనవరి.
నేను నా తాత్కాలిక గదిలో నిలబడి ఉన్నాను.
ఈ రోజు నేను ఒక కొత్త అపార్ట్‌మెంట్‌కి మారుతున్నాను.
అది అదే భవనంలో ఉంది.
నా పెద్ద సూట్‌కేస్ నేల మీద ఉంది.
నేను దాన్ని మూస్తున్నాను.
నేను చివరిసారిగా గది అంతా చూస్తున్నాను.
నేను చిన్న మంచం కింద చూస్తున్నాను.
మంచం కింద ఒక పుస్తకం ఉంది.
అది మెక్సికోకి చెందినది.
నేను ఆ పుస్తకాన్ని నా బ్యాగ్‌లో పెట్టుకుంటున్నాను.
నేను అల్మారాను తెరుస్తున్నాను.
అల్మారాలో ఒక జత బూట్లు ఉన్నాయి.
నేను ఆ బూట్లను తీసుకుంటున్నాను.
ఇప్పుడు అల్మారాలో ఏమీ లేదు.
నేను కిటికీ పక్కన ఉన్న బల్ల దగ్గరికి నడుచుకుంటూ వెళ్తున్నాను.
బల్ల మీద ఒక కేబుల్ ఉంది.
నేను ఆ కేబుల్‌ని తీసుకుంటున్నాను.
నేను ఆ కేబుల్‌ని నా బ్యాగ్‌లో పెట్టుకుంటున్నాను.
నేను నా రెండు బ్యాగ్‌లను తీసుకుంటున్నాను.
నేను లైట్ ఆపేసి తలుపు మూసేస్తున్నాను.
