నేను చిన్న వంటగదిలోకి వెళ్తాను.
నా ట్రావెల్ బ్యాగ్ నేల మీద ఉంది.
నేను బ్యాగ్‌ని తెరుస్తాను.
బ్యాగ్‌లో చాలా వస్తువులు ఉన్నాయి.
నాకిష్టమైన మగ్‌లు బ్యాగ్‌లో ఉన్నాయి.
నేను ఆ మగ్‌లను బయటకు తీస్తాను.
కౌంటర్ పైన ఒక అల్మారా ఉంది.
నేను ఆ మగ్‌లను అల్మారాలో పెడతాను.
ఇప్పుడు అవి షెల్ఫ్ మీద ఉన్నాయి.
నా దగ్గర ఒక ఎర్రటి ఎలక్ట్రిక్ కెటిల్ కూడా ఉంది.
అది బ్యాగ్‌లో ఒక మందపాటి స్వెటర్ కింద ఉంది.
నేను ఆ ఎలక్ట్రిక్ కెటిల్‌ను బయటకు తీస్తాను.
నేను దాన్ని వంటగది కౌంటర్ మీద పెడతాను.
ఇప్పుడు సింక్ పక్కనే ఒక ఎర్రటి ఎలక్ట్రిక్ కెటిల్ ఉంది.
బ్యాగ్‌లో ఒక టీ డబ్బా కూడా ఉంది.
నేను ఆ డబ్బాను తీసుకుని ఎలక్ట్రిక్ కెటిల్ పక్కన పెడతాను.
ఇప్పుడు వంటగది దాదాపు సిద్ధమైంది.
తర్వాత ఒక కప్పు టీ తాగాలని నేను ఆశగా ఎదురుచూస్తున్నాను.
