ఈ రోజు మార్కెట్లో చాలా మంది ఉన్నారు.
నేను ఒక చిన్న పండ్ల దుకాణాన్ని కనుగొంటాను.
ఆ దుకాణంలో చాలా బుట్టలు ఉన్నాయి.
ఆ బుట్టల నిండా ముదురు ఎరుపు రంగు చలికాలపు ఆపిల్స్ ఉన్నాయి.
నేను ఆపిల్స్ ఉన్న ఒక చిన్న సంచిని చూస్తాను.
"ఒక చిన్న సంచి ధర ఎంత?" అని నేను ఆ వ్యాపారిని అడుగుతాను.
అతను బుట్టలో చూస్తాడు.
"ధర ఇరవై క్రోనర్లు," అని అతను సమాధానం ఇస్తాడు.
నేను డబ్బుల కోసం నా బ్యాగ్‌లో వెతుకుతాను.
నేను అతనికి యాభై క్రోనర్ల నోటు ఇస్తాను.
ఆ వ్యాపారి నాకు ఆపిల్స్ సంచిని అందిస్తాడు.
అప్పుడు అతను నాకు డబ్బులు తిరిగి ఇస్తాడు.
నాకు కచ్చితంగా ముప్పై క్రోనర్లు నాణేల రూపంలో తిరిగి వస్తాయి.
ఆ నాణేలు మందంగా మరియు బరువుగా ఉన్నాయి.
నేను ఆ బరువైన నాణేలను నా కోటు జేబులో వేసుకుంటాను.
ఆ ఆపిల్స్ చాలా తాజాగా వాసన వస్తున్నాయి.
నేను ఆ సంచిని నా పెద్ద షాపింగ్ బ్యాగ్‌లో పెట్టుకుంటాను.
