ఇప్పుడు నేను అలసిపోయాను.
నేను నా పుస్తకాన్ని బల్ల మీద పెడతాను.
నేను స్నానాల గదికి వెళ్తాను.
ఇక్కడ నేను రాత్రి కోసం సిద్ధమవుతాను.
నేను నా టూత్‌బ్రష్ తీసుకుంటాను.
నేను పళ్ళు తోముకుంటాను.
ఆ తర్వాత నేను నా ముఖం కడుక్కుంటాను.
నేను తువ్వాలుతో తుడుచుకుంటాను.
నేను పడకగదిలోకి వెళ్తాను.
నేను పైజామా వేసుకుంటాను.
తర్వాత నేను లైట్ ఆపేస్తాను.
ఇప్పుడు అపార్ట్‌మెంట్ పూర్తిగా చీకటిగా ఉంది.
నేను నా మంచం మీద పడుకుంటాను.
మంచం వెచ్చగా మరియు మెత్తగా ఉంది.
నేను నా మీద దుప్పటి కప్పుకుంటాను.
నేను నా కళ్లు మూసుకుంటాను.
నేను ఒక కొత్త రోజు కోసం సిద్ధంగా ఉన్నాను.
నేను బాగా నిద్రపోతాను.
