నేను ఇప్పుడు బయట ఉన్నాను.
నా సూట్‌కేస్ పెద్దది మరియు బరువుగా ఉంది.
అక్కడ ఒక టాక్సీ ఉంది.
నేను నా సూట్‌కేస్‌ని టాక్సీలోకి ఎత్తుతాను.
డ్రైవర్ ఒక స్నేహపూర్వకమైన వ్యక్తి.
"చిరునామా ఏమిటి?" అని అతను అడుగుతాడు.
"అది పార్క్ రోడ్ నంబర్ పన్నెండు," అని నేను చెబుతాను.
అతను తల ఊపి కారు నడుపుతాడు.
"మీరు పర్యాటకులా?" అని డ్రైవర్ అడుగుతాడు.
"లేదు, నేను పర్యాటకురాలిని కాదు," అని నేను బదులిస్తాను.
"మీరు ఎక్కడి నుండి వచ్చారు?" అని అతను అడుగుతాడు.
"నేను మెక్సికో నుండి వచ్చాను," అని నేను చెబుతాను.
నేను కిటికీలోంచి బయటకు చూస్తాను.
నేను చాలా గర్వంగా ఉన్నాను.
"నేను సాఫ్ట్‌వేర్ ఇంజనీర్‌ని," అని నేను చెబుతాను.
"నా కొత్త ఉద్యోగం ఇక్కడే కోపెన్‌హాగన్‌లో ఉంది."
అతను చిరునవ్వు నవ్వుతాడు.
"ఎంత ఉత్సాహకరం."
"డెన్మార్క్‌లో మీకు శుభం కలగాలి," అని అతను చెబుతాడు.
"చాలా ధన్యవాదాలు," అని నేను చెబుతాను.
