ఇప్పుడు సమయం పన్నెండు గంటలు.
ఇది భోజన సమయం.
పీటర్ మరియు నేను కింద క్యాంటీన్‌కి వెళ్తాము.
క్యాంటీన్ పెద్దది మరియు ప్రకాశవంతంగా ఉంది.
మేము చాలా ఆకలితో ఉన్నాము.
మేము ఆ మంచి ఆహారాన్ని చూస్తాము.
ఈ రోజు చాలా ఎంపికలు ఉన్నాయి.
నేను ఒక క్లాసిక్ ఓపెన్ శాండ్‌విచ్‌ను ఎంచుకుంటాను.
అది చేపలు మరియు నిమ్మకాయతో ఉంది.
పీటర్ ఒక పెద్ద సలాడ్ తీసుకుంటాడు.
మేము క్యాష్ కౌంటర్ దగ్గరికి వెళ్తాము.
క్యాష్ కౌంటర్ దగ్గర ఒక స్నేహపూర్వక వ్యక్తి నిలబడి ఉన్నాడు.
"అది నలభై క్రోనార్లు అవుతుంది," అని అతను నాతో అంటాడు.
నేను నా కార్డుతో చెల్లిస్తాను.
"ఇదిగోండి," అని నేను అంటాను.
"ధన్యవాదాలు, మీ భోజనాన్ని ఆస్వాదించండి," అని అతను బదులిస్తాడు.
మాకు మూలలో ఒక ఖాళీ టేబుల్ దొరుకుతుంది.
మేము కూర్చుంటాము.
ఆహారం నిజంగా చాలా రుచిగా ఉంది.
మేము మా రోజు గురించి మాట్లాడుకుంటాము.
