నేను నా కేక్‌తో బస్ స్టాప్ దగ్గర నిలబడి ఉన్నాను.
ఎర్ర బస్సు త్వరగా వస్తుంది.
నేను బస్సు ఎక్కి ఒక సీటు చూసుకుంటాను.
బస్సు నగరం గుండా వెళుతుంది.
ప్రయాణం మరీ ఎక్కువ సేపు ఉండదు.
త్వరలోనే మేము నా వీధికి చేరుకుంటాము.
నేను బస్సు దిగుతాను.
సాయంత్రం గాలి ఇప్పుడు కొంచెం చల్లగా ఉంది.
కానీ నేను నా వెచ్చని స్వెట్టర్ వేసుకున్నాను.
నేను ఆ వీధిలో నడుచుకుంటూ వెళతాను.
ఇప్పుడు నాకు ఈ భవనాలు బాగా తెలుసు.
ఇదిగో నా భవనం.
నా బ్యాగ్‌లో నాకు నా తాళాలు దొరుకుతాయి.
నేను బరువైన ముందు తలుపు తాళం తీస్తాను.
నేను మెట్ల దారిలోకి వెళతాను.
ఇక్కడ నిశ్శబ్దంగా మరియు ప్రశాంతంగా ఉంది.
నేను నా సొంత తలుపు తాళం తీసి లోపలికి వెళతాను.
నేను నా బ్యాగ్‌ని హాలులో పెడతాను.
ఇప్పుడు నేను నా సొంత నగరంలో, నా ఇంట్లో ఉన్నాను.
